//theme for compiling bootstrap

$yellow: magenta;
$green: skyblue;
$enable-rounded: false !default;

button.btn {
  padding: map-get($map: $spacers, $key: 4);
}

button.btn-danger {
  background-color: $yellow;
  border: 4px solid $black;
}

button.btn-success {
  background-color: $green;
  border: 4px solid $black;
}
//test
